.ui.card {
  display: inline-block;
  background-color: #26D583;
  width: 28%;
  margin-left: 3%;
  border-color: #26D583;
}
.ui.card>.extra a:not(.ui), .ui.cards>.card>.extra a:not(.ui) {
    color: #E4EBF1;
    opacity: 1;
}
