.landingpagecontainer {
    width: 100%;
    height: 100%;
    position: absolute;
}
.landingpagecontainer h1 {
    text-align: center;
    margin-top: 35px;
}
button.ui.blue.fade.animated.button.signin {
    margin: 99% auto;
    display: block;
}